$a: 40rem;

.fade {
	    transition: opacity 1.5s linear;
}

.modal-body {
		@media (max-height: 320px)
	{
    h2,label{
      float: left;
      margin: 1rem;
    }
	}
}

.modal-body{
	text-align: center;
}

.row {
	position: absolute;
	top: 50%;
	left: 50%;
	height: $a;
	width: $a;
	margin-top: ($a/2*(-1));
	margin-left: ($a/2*(-1));
	@media (max-width: 640px) 
	{
		position:relative;
		$a: 30rem;
		height: $a;
		width: $a;
		margin-top: ($a/2*(-1));
		margin-left: ($a/2*(-1));
	}

//for landscape in codepen.io
	@media (max-height: 320px)
	{
		position:absolute;
		$a: 24rem;
		height: $a;
		width: $a;
		margin-top: ($a/2*(-1));
		margin-left: ($a/2*(-1));
	}
	// margin: 0 auto;
}
.space
{
	text-align: center;
	color: black;
	height: (100%/3);
	// width: (100%/3); 
	background-color: #FFF;
	border: 1px solid black;
}
.game-scores{
	margin: .5rem 3rem;
}
.game-scores__headline {
	font-size: 5rem;
	@media (max-width: 640px)
	{
		font-size: 2rem;
	}
}

.game-scores__score{
	text-align: center;
	display: block;
	font-size: 4rem;
}


.sign {
$signSize: 8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	// height:  $signSize;
	// width: $signSize;
	margin-top: -($signSize/2);
	margin-left: -($signSize/2)+2;
	// background-color: #aaa;
	font-size: $signSize;
	line-height: $signSize;
}